<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <logger name="LogError">
    <level value="ERROR"/>
    <appender-ref ref="ErrorAppender"/>
  </logger>
  <logger name="LogInfo">
    <level value="INFO"/>
    <appender-ref ref="InfoAppender"/>
  </logger>
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <!--日志文件名-->
    <file value="Log/Info.txt"/>
    <!--是否在文件中追加-->
    <appendToFile value="true"/>
    <!-- 解决log4net独占日志文件的问题,不能打开 -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Size"/>
    <!--最大变换数量-->
    <maxSizeRollBackups value="10"/>
    <!--最大文件大小-->
    <maximumFileSize value="500KB"/>
    <!--日志文件名是否为静态-->
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[时间]:%d%n[信息]%m%n%n" />
    </layout>
  </appender>
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <!--日志文件名-->
    <file value="Log/Error.txt"/>
    <!--是否在文件中追加-->
    <appendToFile value="true"/>
    <!-- 解决log4net独占日志文件的问题,不能打开 -->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--按照文件的大小进行变换日志文件-->
    <rollingStyle value="Size"/>
    <!--最大变换数量-->
    <maxSizeRollBackups value="10"/>
    <!--最大文件大小-->
    <maximumFileSize value="500KB"/>
    <!--日志文件名是否为静态-->
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%n[时间]:%d%n[错误]%m%n" />
    </layout>
  </appender>
</log4net>